<!DOCTYPE html>
<html lang="en" data-framework="angularjs">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/extra.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
</head>
<body>
<div class="container" ng-app="getEbooks" ng-controller="EbookCtrl as ctrl">
    <table class="table  table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Ebook Id</th>
            <!--<th>Cover</th>-->
            <th>Name</th>
            <th>Description</th>
            <th> </th>
            <th> </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in ctrl.books">
            <td>{{$index+1}}</td>
            <td>{{book._id}}</td>
            <!--<td ng-init="downloadPath = ctrl.host+'/api/ebooks/downloads?ebook_id='+book._id+'&download'" >-->
                <!--<img ng-src="{{downloadPath}}=cover" class="img-rounded" width="10%" height="10%">-->
            <!--</td>-->
            <td>{{ book.title }}</td>
            <td>{{book.description}}</td>
            <td ng-init="indexPosition = ctrl.books.indexOf(book)">
                <button ng-click="ctrl.bookEdit(bookId)" type="button" class="btn btn-info">Edit</button>
                <!--<button href = "#" type="button" class="btn btn-danger">Delete</button>
                <a href = "#" class = "btn btn-primary" role = "button">Edit</a>
                <a href = "#" class = "btn btn-danger" role = "button">Delete</a>-->
            </td>
            <td ng-init="bookId = book._id" >
                <button confirmed-click="ctrl.deleteEbook(bookId,indexPosition)"
                        ng-confirm-click="Do you want to Delete {{book.title}} Ebook" type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- add javascripts -->
<script src="js/angular.min.js"></script>
<script src="js/controllers/view_ebooks.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="js/ng-file-upload.js"></script>
<script src="js/ng-file-upload-shim.js"></script>
</body>
</html>
